<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div align="center">
    <h1>Welcome to Hangman Plus</h1>
    <h3><%= @remainig_attempts %></h3>

    <pre> <%= session["hangman"].show_dashes %></pre>
    <br>

    <form action="/guess" method="POST">
      <label>Letter</label>
      <input type="text" name="letter">
      <input type="submit" name="guess" value="Guess">
    </form>
    <h3><%= @message %></h3>
  </div>
</body>
</html>