<!DOCTYPE html>
<html>
<head>
  <title>Hangman Plus</title>
</head>
<body>
<div align="center">
  <h1>Hangman Plus</h1>
  <form action="/start" method="POST">
    <input type="submit" name="start_game" value="Start">
  </form>
</div>  
</body>
</html>